footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer 
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajrs") Viajes
                a.nav-link(href="/testimoniales") Testimoniales
        .col-md-6
            p.copyright.tect-center 
                | Derechos reservados 
                span= actualYear