extends ./layouts/index
block contenido
    main.container.mt-5
        .row
            .col-md-7 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-5
                //- Imprimir variables
                h1 #{titulo}

                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque vero error obcaecati, facere doloremque consequatur eum ut harum? Veniam quidem rem ad nobis libero laboriosam tenetur ipsum earum culpa dolor.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil labore neque tenetur blanditiis. Odit voluptas cupiditate vitae quam. Nihil ab facilis numquam saepe placeat excepturi veniam in quod nisi maiores?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque voluptatibus explicabo placeat eius, debitis fugit vero id porro ex ea eveniet. Laboriosam reprehenderit dolorem tempora qui eius. Nisi, iste.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4") 
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus praesentium vitae modi beatae dolore unde quos itaque, eaque sequi quae in recusandae voluptatibus inventore. Atque corrupti in quidem consequuntur.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4") 
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus praesentium vitae modi beatae dolore unde quos itaque, eaque sequi quae in recusandae voluptatibus inventore. Atque corrupti in quidem consequuntur.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4") 
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste accusamus praesentium vitae modi beatae dolore unde quos itaque, eaque sequi quae in recusandae voluptatibus inventore. Atque corrupti in quidem consequuntur.